---
title: Nicolas Chevobbe's Blog
---
<!DOCTYPE html>
<html>
<head>
	<title>Nicolas Chevobbe</title>
	<meta charset="UTF-8">
  <!--FAVICON-->
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="images/favicon/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/favicon/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/favicon/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/favicon/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="images/favicon/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="images/favicon/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="images/favicon/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="images/favicon/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="images/favicon/favicon-196x196.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="images/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="images/favicon/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="images/favicon/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="images/favicon/favicon-128.png" sizes="128x128" />
  <meta name="application-name" content="Nicolas Chevobbe"/>
  <meta name="msapplication-TileColor" content="#2F374" />
  <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png" />
  <meta name="msapplication-square70x70logo" content="images/favicon/mstile-70x70.png" />
  <meta name="msapplication-square150x150logo" content="images/favicon/mstile-150x150.png" />
  <meta name="msapplication-wide310x150logo" content="images/favicon/mstile-310x150.png" />
  <meta name="msapplication-square310x310logo" content="images/favicon/mstile-310x310.png" />

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/root.css" />
  <link rel="stylesheet" type="text/css" href="css/challenge.css" />
</head>

<body>
  <main>
    <header>
      Nicolas Chevobbe
    </header>
    <section class="bio">Web Developper — Mozillian & Open Web lover — Avid learner — Works for <a href="http://www.atolcd.com" target="blank">Atol C&D</a>
    </section>
    <section class="challenge-dashboard">
      <h1>2016 : One bug a week</h1>
      <div class="stats">
        <div class="stat-item">Current week<span class="value" id="currentWeek"></span></div>
        <div class="stat-item">Failed weeks<span class="value" id="failedWeek"></span></div>
        <div class="stat-item">Bugs fixed<span class="value" id="bugsFixed"></span></div>
        <div class="stat-item">PRs merged<span class="value" id="prsMerged"></span></div>
        <div class="stat-item">Overall success<span class="value" id="successPercentage"></span></div>
      </div>
      <input type="radio" id="input-timeline" name="challenge" value="timeline" checked/>
      <svg viewBox="0 0 400 70" class="timeline" preserveAspectRatio="xMidYMin" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 757.8 534.8" style="enable-background:new 0 0 757.8 534.8;" xml:space="preserve">
      </svg>
      <input type="radio" id="input-chart" name="challenge" value="chart" />
      <svg viewBox="0 0 400 70" class="chart" preserveAspectRatio="xMidYMin" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 757.8 534.8" style="enable-background:new 0 0 757.8 534.8;" xml:space="preserve">
      </svg>
      <nav class="tabs">
        <label for="input-timeline">Timeline</label>
        <label for="input-chart">Chart</label>
      </nav>
    </section>

    <h1>Blog posts</h1>
    <ul class="posts">
      {% for post in site.posts %}
        <li>
          <a href="{{ post.url }}" title="{{ post.title }}"><span class="title">{{ post.title }}</span><span class="date">{{ post.date | date:"%Y-%m-%d" }}</span></a>
        </li>

      {% endfor %}
    </ul>

    <h1>Demos</h1>
    <ul>
      <li><a href="/demo/one-font-a-day.html">One font a day</a></li>
      <li><a href="/demo/wave.html">Wave</a></li>
    </ul>
  </main>
  {% include footer.html %}

  <script type="text/javascript" src="javascript/challenge.js"></script>
</body>
</html>
