---
title: Nicolas Chevobbe's Blog
---
<!DOCTYPE html>
<html>
<head>
	<title>Nicolas Chevobbe</title>
	 <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/root.css" />
</head>

<body>
  <main>
    <header>
      Nicolas Chevobbe
    </header>
    <section class="bio">Web Developper — Mozillian & Open Web lover — Avid learner — Works for <a href="http://www.atolcd.com" target="blank">Atol C&D</a>
    </section>
    <ul class="posts">
      {% for post in site.posts %}
        <li>
          <a href="{{ post.url }}" title="{{ post.title }}"><span class="title">{{ post.title }}</span><span class="date">{{ post.date | date:"%Y-%m-%d" }}</span></a>
        </li>

      {% endfor %}
    </ul>
  </main>
  {% include footer.html %}
</body>
</html>
