* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

/* App structure */

body {
    background-color: rgb(255, 213, 48);
    font-family: sans-serif;
    height: 100vh;
    max-height: 100vh;
    display: grid;
    /* header + content */
    grid-template-rows: auto 1fr;
    overflow: hidden;
    --secondary-color: hsl(5.5, 100%, 59.4%);
}

header {
    font-size: 2rem;
    padding-block: 0.5em;
    text-align: center;
    background-color: var(--secondary-color);
    color: white;
    border-bottom: 5px solid #d40000;
}

main {
    overflow: auto;
}

main>section {
    padding: 1em;
}

input, button {
    font-size: 24px;
}

li {
    list-style: none;
}

.hidden {
    display: none !important;
}

/* Login section */

.login {
    display: grid;
    align-content: center;
    justify-content: center;
    height: 100%;
}

.login form {
    display: grid;
    grid-template-rows: auto auto;
    border: 4px solid var(--secondary-color);
}

.login form input, .login form button {
    border: none;
    padding: 5px;
}

.login form button {
    background-color: var(--secondary-color);
    color: white;
    padding-top: 10px;
}

/* Logs section */

.logs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: 2em;
    margin: 0;
    padding: 2em;
}

.day .date {
    color: #222;
    border-bottom: 2px solid;
    display: block;
    padding-bottom: 4px;
    font-size: 1.2em;
}

.day-detail {
    margin: 0 0 1em 0;
    padding: 10px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.day-detail li {
    display: inline-block;
    padding: 6px 1em 4px;
    border-radius: 2em;
}

.day-detail .weight {
    background-color: #fff;
}

.day-detail .yoga {
    background-color: #2fd38e;
}

.day-detail .skate {
    background-color: #071c22;
    color: white;
}

.day-detail .rameur {
    background-color: hsl( 200, 65%, calc( 50% + -20% * ( (var(--pace) - var(--rameur-min-pace)) / (var(--rameur-max-pace) - var(--rameur-min-pace)))));
    color: white;
}

.day-detail .drink {
    background-color: #d32f2f;
    color: white;
}

/* Day form section */

.day form {
    display: grid;
    grid-template-columns: auto minmax(10px, 1fr);
    grid-template-rows: repeat(6, minmax(50px, auto));
    gap: 10px;
}

.form-row {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    align-items: center;
    padding-inline: 1em;
    gap: 10px;
}

.form-row .line-label {
    grid-column: 1 / 2;
}

.form-row label:not(.line-label) {
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-row label:not(.line-label) input {
    flex: 1 1 0;
    width: 100%;
}

.toggle {
    display: none;
    ;
}

.toggle:not(:checked)~label.line-label {
    opacity: 0.5;
}

.toggle:not(:checked)~label:not(.line-label) {
    display: none;
}

.day form button {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    grid-column: 1 / -1;
    padding: 0.5em;
}