.date {
    background-color: rgb(222, 227, 232);
    padding: 5px 10px;
    border-radius: 4px;
}

li {
    list-style: none;
}

.logs>li {
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 1em;
}

.logs>li+li {
    margin-top: 1em;
}

.hidden {
    display: none;
}

.toggle:not(:checked) + .sport-inputs-container {
    display: none;
}

.sport-inputs-container {
    display: inline-block;
}